#header{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 9999;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*********** Btn menu ************/
.btnmenu-content{
   margin-left: 50px;
   cursor: pointer;
}
.btnmenu-content .btnmenu{
    font-size: 20px;
    color: var(--white);
}
.btnmenu-content .btnmenu > i.fa-bars{
    margin-right:10px;
    font-size: 25px;
}

/***** List Container ******/
.list-container{
    position:absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    height: calc(657px - 60px);
    background-color: rgba(255,255,255,0.7);
}
.list-container .lists{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.list-container .lists li{list-style: none;}
.list-container .lists li a{
    font-size: 35px;
    text-decoration: none;
    color: var(--black);
    transition: 250ms;
}
.list-container .lists li a:hover{
    color: var(--green);
}

/********** Menu icons **********/
.icons-menu{margin-right: 50px;}
.icons-menu ul{display:flex; margin:50px 0px;}
.icons-menu ul li{
    list-style:none;
    cursor: pointer;
    font-size: 20px;
    margin:0px 10px;
    color: var(--white);
}
.nav-box-shadow{
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
}

/******* Search Menu ********/
.menu-search{
  position:fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(657px - 60px);
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-search .close-search{
    position:absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: var(--black);
}
.menu-search .form-group{
    display: flex;
}
.menu-search .form-group input{
    background: transparent;
    color: var(--black);
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--black);
    margin-right: 30px;
    font-size: 30px;
}
.menu-search .form-group input:focus{
    box-shadow: none;
}
.menu-search .form-group input::placeholder{
    color: var(--black);
}
.menu-search .form-group button{
    background:var(--black);
    border: none;
    transition: 300ms;
    color: var(--white);
    height: 50px;
    margin-top: 10px;
}
.menu-search .form-group button:hover{
    background: #2d2d31;
}



